/*ANCHOR Variablen*/
* {
  --h2-back-color: #1f98d4;
  --h3-back-color: #1f98d47e;
  --div1-h4-back-color: #228c727e;
  --div2-h4-back-color: #59228c7e;
}

/*CATEGORY Seite & boxen*/
body {
  color: #263238;
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  word-break: break-all;
}

main {
  /* background-color: green; */
  padding: 30px;
}

/*Überschriften & Boxen*/
h1 {
  text-decoration: underline;
}
:is(h1, h2, h3, h4, h5) {
  text-align: center;
}
:is(h2, h3, h4) {
  border-color: black;
  border-style: solid;
}
/* Box 1 */
h2 {
  background-color: var(--h2-back-color);
}
article {
  border-style: solid;
  border-color: black;
}

/* Box 2 */
h3 {
  background-color: var(--h3-back-color);
}
section {
  border-style: solid;
  border-color: black;
}

/* Box 3 */
h4 {
  background-color: var(--div1-h4-back-color);
}
h4 + div {
  /* border-style: dashed; */
  border-style: solid;
  border-color: var(--div1-h4-back-color);
}

/* Box 4 */
h4 + div h4 {
  background-color: var(--div2-h4-back-color);
}
h4 + div h4 + div {
  border-style: solid;
  border-color: var(--div2-h4-back-color);
}

footer {
  background-color: #1c1f1e;
  color: #ffffff;
}

/*Navigations leiste*/
nav {
  border-style: solid;
  border-color: black;
  margin: 0;
}
nav.navi1 {
  background-color: #1c1f1e;
}
nav.navi2 {
  background-color: #263238;
}
nav.navi3 {
  background-color: #36677e;
}
nav.navi4 {
  background-color: #647881;
}
nav.navi5 {
  background-color: red;
}

/*Liste*/
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
}

nav > ul > li {
  background-color: black;
  border-style: solid;
  border-color: whitesmoke;
  min-width: 100px;
  text-align: center;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
}

nav.navi3 a {
  display: block;
  color: white;
  text-decoration: none;
}

nav.navi3 a.aktuell,
a.aktuell {
  color: var(--h2-back-color);
}
nav.navi3 a.aktuell2,
a.aktuell2 {
  color: red;
}
/*!CATEGORY Seite & boxenB*/
/*CATEGORY Tabellen Code*/
/*Tabelle*/
table {
  border-collapse: collapse;
  table-layout: auto;
  text-align: center;
}

/*Rahmen*/
table,
th,
td,
caption {
  border-style: solid;
  border-color: black;
}

/*Überschriften*/
th,
caption {
  background-color: #404649;
  color: #ffffff;
  text-align: center;
}
/*!CATEGORY  Tabellen Code*/

/*CATEGORY Kontrollanzeige*/
/*ANCHOR Schnell nach hoch/runter*/
:is(#up, #down) {
  position: fixed;
  background-color: var(--h2-back-color);
  border-color: black;
  border-style: solid;
  text-align: center;
}

/*ANCHOR Boxen öffnen schliesen*/
#BoxBar {
  position: fixed;
  border-color: black;
  border-style: solid;
}
#BoxBar td {
  background-color: var(--h2-back-color);
}

/*ANCHOR ElementOption */
#ElementOption {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#ElementOption table {
  background-color: white;
}

/*ANCHOR ElementSeletction */
#ElementSeletction {
  background-color: white;
  position: fixed;
  width: 10vw;
  bottom: 13vh;
  right: 1vw;
  margin: 0;
  font-size: 1.5vh;
}
#ElementSeletction ul {
  background-color: red;
  display: inline;
  justify-content: normal;
  align-items: normal;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#ElementSeletction li {
  margin: 0;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}
#ElementSeletction td {
  position: relative;
}
#ElementSeletction div {
  width: 100%;
  height: 20vh;
  overflow: scroll;
}
#ElementSeletction div::-webkit-scrollbar {
  width: 1vw;
}
#ElementSeletction div::-webkit-scrollbar-thumb {
  background: #888;
  background-color: #888;
}
#ElementSeletction div::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 35, 35);
}
#ElementSeletction caption:hover + tbody div {
  display: block;
}
#ElementSeletction tfoot td {
  background-color: red;
}
/* Finish Button */
#overriteFinishButton {
  background-color: rgb(113, 182, 10);
  position: fixed;
  right: 1vw;
  bottom: 43vh;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  border: 0.3vw black solid;
}
/*OverwritePointer*/
#overwritePointer {
  background-color: rgb(185, 134, 4);
  position: fixed;
  right: 6vw;
  bottom: 43vh;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  border: 0.3vw black solid;
}

/* attributeBar */
#attributeBar {
  background-color: rgb(176, 10, 182);
  position: fixed;
  right: 7vw;
  bottom: 0;
  padding: 2vw;
  /* margin: 0; */
  font-size: 1vw;
  border: 0.3vw black solid;
  width: 20vw;
}
#attributeBar .Focus {
  background-color: rgb(58, 16, 109);
  border: 0.5vh black solid;
}
#attributeBox {
  display: flex;
  position: fixed;
  right: 15vh;
  bottom: 10vh;
  margin: 0vw;
  padding: 0vw;
}
#attributeBox button {
  width: 3vw;
  margin: 0vw;
  padding: 0vw;
  border: 0.5vh black solid;
  font-size: 1.4vw;
}
#attributeBox textarea {
  font-size: 1.5vw;
  border-radius: 3%;
  border: 0.5vh white solid;
  outline: 0.5vh black solid;
  margin: 0vw;
  padding: 0vw;
}
#attributeBox textarea:focus {
  border: 0.8vh black solid;
  outline: none;
}

#overwritePfeile {
  display: flex;
  position: fixed;
  right: 12vw;
  bottom: 14vh;
  margin: 0;
  padding: 0;
}
#overwritePfeile button {
  border: 0.3vw black solid;
  margin: 0;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  width: 3vw;
}
textarea {
  font-size: 40px;
}
/*Speziel Elements*/
#objetNumber {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 14vh;
  margin: 0;
  padding: 0;
}
#objetNumber button {
  width: 3vw;
  margin: 0vw;
  padding: 0vw;
  border: 0.5vh black solid;
  font-size: 1.4vw;
}
#objetNumber textarea {
  font-size: 1.5vw;
  border-radius: 3%;
  border: 0.5vh white solid;
  outline: 0.5vh black solid;
  margin: 0vw;
  padding: 0vw;
}
#objetNumber textarea:focus {
  border: 0.8vh black solid;
  outline: none;
}

/* selectDiv */
#selectDiv {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 20vh;
}
#selectDiv button {
  background-color: var(--h2-back-color);
  padding: 15px 30px;
  border: 5px black solid;
  border-radius: 10%;
  font-size: 2rem;
}

/*Buttons*/
button:has(img[src*='/icons/svg/check_black_24dp.svg']) {
  background-color: green;
  border-radius: 10%;
}
button:has(img[src*='/icons/svg/cancel_black_24dp.svg']) {
  background-color: red;
  border-radius: 10%;
}
button:has(img:is([src*='/icons/svg/north_black_24dp.svg'], [src*='/icons/svg/south_black_24dp.svg'], [src*='/icons/svg/west_black_24dp.svg'], [src*='/icons/svg/east_black_24dp.svg'])) {
  background-color: #404649;
  border-radius: 10%;
}
/*!CATEGORY Kontrollanzeige*/

/*CATEGORY Verzeichnis*/
/* Knöpfe */
:disabled {
  display: none;
}
.hinzufügButton {
  position: absolute;
  left: -100px;
  top: 0px;
}
.löschButton {
  position: absolute;
  left: -70px;
  top: 30px;
}
/*!CATEGORY Verzeichnis*/

/*CATEGORY Speziel Inhalt*/
/*Extra datei*/
.allURLOpen {
  width: 100px;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0px;
}

/*Japanisch Tabelle*/
.l1 {
  background-color: yellowgreen;
}

.l2 {
  background-color: aqua;
}

.l3 {
  background-color: tomato;
}

/*Kurz wahl CSS Einstellungen*/
/*Markierungen*/
/*Text*/
.zentrieren {
  text-align: center;
}

/*Testfarbe*/

.Unwichtig {
  color: rgba(0, 0, 0, 0.5);
}

/*Spezifisch*/
.Attribut {
  color: rgb(179, 144, 47);
}

.Element {
  color: rgb(36, 99, 181);
}

.green {
  color: rgba(41, 206, 47);
}

.red {
  color: red;
}

.coment {
  background-color: #0f364972;
}

/*Link Färbung*/
a:is([href*='w3schools'], [href*='selfhtml'], [href*='mediaevent'], [href*='youtube']) {
  text-decoration: none;
}
a[href*='https://developer.android.com']
{
  text-decoration: underline;
  font-weight: 600;
  color: rgb(24, 186, 67);
}
/*Farbe*/
a[href*='https://www.w3schools.com/']
{
  color: chartreuse;
}
a[href*='https://www.geeksforgeeks.org/']
{
  font-weight: 600;
  color: rgb(4, 40, 13);
}
a[href*='https://wiki.selfhtml.org']
{
  color: #1f98d4;
}
a[href*='https://developer.mozilla.org']
{
  color: rgb(77, 26, 26);
}
a[href*='https://www.mediaevent.de/']
{
  color: rgb(200, 96, 23);
}
a[href*='https://www.youtube.com/']
{
  color: rgb(239, 5, 5);
}
a[href*='https://www.youtube.com/results?search_query=']::before
{
  content: 'YouTube: ';
  color: rgb(239, 5, 5);
  font-weight: 600;
}

a[href*='https://www.google.com/']::before
{
  content: 'Google: ';
  color: rgb(5, 149, 239);
  font-weight: 600;
}

a[href*='.wikipedia.org/']::before {
  content: 'Wikipedia: ';
  color: rgb(21, 107, 161);
  font-weight: 600;
}

/*Tabellen link*/
:is(caption, th) a {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

/*Vorgefertigte CSS Einstellungen*/

@media screen and (min-width: 62rem) {
  main {
    width: 90%;
    margin-left: calc((100% - 62rem) / 2);
    max-width: 62rem;
  }
}
/*TODO Richtig einfügen*/

.unterwahl {
  background-color: rgb(55, 188, 237);
}
/*Verstecht*/
/*Themen*/
.wahl ul {
  display: inline;
  justify-content: normal;
  align-items: normal;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.wahl li {
  margin: 0;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}

.wahl {
  position: relative;
}

.wahl div {
  display: none;
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: scroll;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 0px;
}

.wahl:hover div {
  display: block;
}

/*Bilder einstellung*/

td img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 10px;
}

img {
  width: 100%;
  height: 100%;
}
svg {
  border: 5px solid black;
}
#Italienisch {
  background-color: red;
}
/*Youtube Playlisten suchcode*/

#copiebutton {
  width: 100%;
  height: 100px;
  background-color: #66b8e1;
  font-size: 40px;
}
/*!CATEGORY Speziel Inhalt*/
/*Teste Code*/

/*Link suche
  a[href*="https://www.minimed.at/medizinische-themen/stoffwechsel-verdauung/mineralstoffe/#:~:text=Spurenelemente%20sind%20Chrom%2C%20Eisen%2C%20Fluor,Nickel%2C%20Silicium%20und%20Vanadium%20dazu."]
  {
    background-color: red;
  }
  a[href*="https://eatsmarter.de/thema/mineralstoffe/mineralstoffe-tabelle"]
  {
    background-color: blue;
  }
  a[href*="https://www.klartext-nahrungsergaenzung.de/wissen/lebensmittel/nahrungsergaenzungsmittel/mindestmengen-so-viel-von-vitaminen-oder-mineralstoffen-muss-drin-sein-39095"]
  {
    background-color: green;
  }
  a[href*="https://fet-ev.eu/biotin/"]
  {
    background-color: yellow;
  }
  a[href*="https://www.navigator-medizin.de/gesundheitsthemen/vitamine/vitamin-b/vitamin-b4.html"]
  {
    background-color: purple;
  }
  a[href*="https://www.spektrum.de/lexikon/geowissenschaften/naehrelemente/10924"]
  {
    background-color: violet;
  }

  /*Schluss*/

/*Verstecht*/
/*Themen*/
/* Test */
.testDiv {
  border: red 10px solid;
  margin-top: 30px;
}
