/*ANCHOR Variablen*/
:root {
  /* Zugewiesen */
  /* body */
  --body-color: #c5bdbd;
  --body-background-color: #121111;
  /* footer */
  --footer-color: #ffffff;
  --footer-back-color: #121313;
  /* Box */
  --h2-back-color: #0d405a;
  --h3-back-color: #1f98d47e;
  --div1-h4-back-color: #158dde7e;
  --div2-h4-back-color: #0dc56c7e;
  --box-back-color: #333333;
  /* Rahmen 
      h1
  */
  --border-color: #000000;
  /* Navigation */
  --nav1: #0a0a0b;
  --nav2: #121314;
  --nav3: #252a2c;
  --nav4: #394246;
  --nav5: #000000;
  --nav-color: #ffffff;
  --nav-back-color: #000000;
  --nav-border-color: #ffffff;
  --akt-nav-color: #2a5af9;
  --under-akt-nav-color: #ff0000;
  /* Tabelle */
  --table-back-color: #ffffff;
  --thead-color: #ffffff;
  --thead-back-color: #0a0909;
  --table-link-back-color: #ffffff;
  /* Spezial */
  --svg-border-color: #000000;
  --text-border-color: #ffffff;
  --text-outline-color: #000000;
  /* Links */
  /*Link Färbung*/
  --link-color: #0252ff;
  --google-color: #0595ef;
  --wikipedia-color: #156ba1;
  --youtube-color: #ef0505;
  --youtube-search-color: #ef0505;
  --w3schools-color: #7fff00;
  --developer-mozilla-color: #4d1a1a;
  --selfhtml-color: #1f98d4;
  --mediaevent-color: #c86017;
  --geeksforgeeks-color: #04280d;
  --developer-android-color: #18ba43;
  /* overwrite Elements -----------------------------------------------------*/
  /* Buttons */
  --finishButton: #71b60a;
  --selectorbutton: #b98604;
  --validate-button-back-color: #008000;
  --cancel-button-back-color: #ff0000;
  /* ElementSeletction li */
  --table-button-back-color: #000000;
  --table-button-color: #ffffff;
  --table-button-scroll-color: #888888;
  --table-backbutton-color: #ff0000;
  /* AttributeBar */
  --attributebar-back-color: #b00ab6;
  --akt-attributebar-back-color: #3a106d;
  --attributebar-color: #000000;
}

/*CATEGORY Seite & boxen*/
/* @media screen and (min-width: 62rem) {
  main {
    width: 90%;
    margin-left: calc((100% - 62rem) / 2);
    max-width: 62rem;
  }
} */
body {
  color: var(--body-color);
  background-color: var(--body-background-color);
  font-family: "Helvetica Neue", Arial, sans-serif;
  word-break: break-all;
  width: 100%;
}

/* Alle Elemente im main-Element mittig ausrichten */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Die maximale Breite des main-Elements auf 800px beschränken */
@media (min-width: 1000px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

footer {
  background-color: var(--footer-back-color);
  color: var(--footer-color);
}

/*Überschriften & Boxen------------------------------------------------------------------------------------*/
h1 {
  text-decoration: underline;
}
:is(h1, h2, h3, h4, h5) {
  text-align: center;
}
:is(h2, h3, h4) {
  border-color: var(--border-color);
  border-style: solid;
}
/* Box 1 */
h2 {
  background-color: var(--h2-back-color);
}
article {
  background-color: var(--box-back-color);
  border-style: solid;
  border-color: var(--border-color);
}

/* Box 2 */
h3 {
  background-color: var(--h3-back-color);
}
section {
  background-color: var(--box-back-color);
  border-style: solid;
  border-color: var(--border-color);
}

/* Box 3 */
h4 {
  background-color: var(--div1-h4-back-color);
}
h4 + div {
  /* border-style: dashed; */
  background-color: var(--box-back-color);
  border-style: solid;
  border-color: var(--div1-h4-back-color);
}

/* Box 4 */
h4 + div h4 {
  background-color: var(--div2-h4-back-color);
}
h4 + div h4 + div {
  border-style: solid;
  border-color: var(--div2-h4-back-color);
}

/*Navigations leiste-------------------------------------------------------------------------------------------------------------------------*/
nav {
  border-style: solid;
  border-color: var(--border-color);
  margin: 0;
}
nav.navi1 {
  background-color: var(--nav1);
}
nav.navi2 {
  background-color: var(--nav2);
}
nav.navi3 {
  background-color: var(--nav3);
}
nav.navi4 {
  background-color: var(--nav4);
}
nav.navi5 {
  background-color: var(--nav5);
}

/*Liste*/
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  background-color: var(--nav-back-color);
  border-style: solid;
  border-color: var(--nav-border-color);
  min-width: 100px;
  text-align: center;
}

nav a {
  text-decoration: none;
  display: block;
  color: var(--nav-color);
  text-decoration: none;
}

nav.navi3 a {
  text-decoration: none;
  display: block;
  color: var(--nav-color);
  text-decoration: none;
}

nav.navi3 a.aktuell,
a.aktuell {
  color: var(--akt-nav-color);
}
nav.navi3 a.aktuell2,
a.aktuell2 {
  color: var(--under-akt-nav-color);
}

/*Unterklassen*/
.wahl ul {
  display: inline;
  justify-content: normal;
  align-items: normal;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.wahl li {
  margin: 0;
  border-style: solid;
}

.wahl {
  position: relative;
}

.wahl div {
  display: none;
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: initial;
  z-index: 2;
}

.wahl:hover div {
  display: block;
}

/*SECTION Tabellen Code--------------------------------------------------------------------------------------------------------------------------------*/
/*Tabelle*/
table {
  border-collapse: collapse;
  table-layout: auto;
  text-align: center;
}

/*Rahmen*/
table,
th,
td,
caption {
  border-style: solid;
  border-color: var(--body-color);
}

/*Überschriften*/
th,
caption {
  background-color: var(--thead-back-color);
  color: var(--thead-color);
  text-align: center;
}

/*!SECTION */

/*Bilder einstellung---------------------------------------------------------------------------------------------------------------------*/
td img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 10px;
}

img {
  width: 100%;
  height: 100%;
}
svg {
  border: 5px solid var(--svg-border-color);
}

/* Extras ------------------------------------------------------------------------------*/
/*Link Färbung*/
a:is(
    [href*="w3schools"],
    [href*="selfhtml"],
    [href*="mediaevent"],
    [href*="youtube"]
  ) {
  text-decoration: none;
}
/*Farbe*/
:is(h2, h3, h4) a {
  background-color: var(--body-color);
}
a {
  color: var(--link-color);
}

a[href*='https://www.google.com/']::before
{
  content: "Google: ";
  color: var(--google-color);
  font-weight: 600;
}

a[href*=".wikipedia.org/"]::before {
  content: "Wikipedia: ";
  color: var(--wikipedia-color);
  font-weight: 600;
}

a[href*='https://www.youtube.com/']
{
  color: var(--youtube-color);
}
a[href*='https://www.youtube.com/results?search_query=']::before
{
  content: "YouTube: ";
  color: var(--youtube-color);
  font-weight: 600;
}

a[href*='https://www.w3schools.com/']
{
  color: var(--w3schools-color);
}
a[href*='https://developer.mozilla.org']
{
  color: var(--developer-mozilla-color);
}
a[href*='https://wiki.selfhtml.org']
{
  color: var(--selfhtml-color);
}
a[href*='https://www.mediaevent.de/']
{
  color: var(--mediaevent-color);
}
a[href*='https://www.geeksforgeeks.org/']
{
  font-weight: 600;
  color: var(--geeksforgeeks-color);
}
a[href*='https://developer.android.com']
{
  text-decoration: underline;
  font-weight: 600;
  color: var(--developer-android-color);
}

/*Tabellen link*/
:is(caption, th) a {
  background-color: var(--table-link-back-color);
  border-radius: 5px;
  padding: 5px;
}

/*Vorgefertigte CSS Einstellungen-------------------------------------------------------------*/

/*Markierungen*/
/*Text*/
.zentrieren {
  text-align: center;
}

/*Testfarbe*/

.Unwichtig {
  color: #00000080;
}

/*Spezifisch*/
.Attribut {
  color: #b3902f;
}

.Element {
  color: #2463b5;
}

.green {
  color: #29ce2e;
}

.#ff0000 {
  color: #ff0000;
}

.coment {
  background-color: #0f364972;
}

/*SECTION Kontrollanzeige---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*ANCHOR Schnell nach hoch/runter*/
/*!SECTION */
:is(#up, #down) {
  position: fixed;
  text-decoration: none;
  background-color: var(--h2-back-color);
  color: #ffffff;
  border-color: var(--border-color);
  border-style: solid;
  text-align: center;
}

/*ANCHOR Boxen öffnen schliesen*/
#BoxBar {
  position: fixed;
  border-style: solid;
}
#BoxBar td {
  user-select: none;
  background-color: var(--h2-back-color);
}

/*SECTION page revision---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* controller */
#controller :is(caption, th, td) {
  border-color: var(--border-color);
}
#controller td {
  color: var(--border-color);
}
/*ANCHOR ElementOption */
#ElementOption {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#ElementOption table {
  background-color: var(--table-back-color);
}

/*ANCHOR ElementSeletction */
#ElementSeletction {
  background-color: var(--table-back-color);
  position: fixed;
  width: 10vw;
  bottom: 13vh;
  right: 1vw;
  margin: 0;
  font-size: 1.5vh;
}
#ElementSeletction ul {
  display: inline;
  justify-content: normal;
  align-items: normal;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
#ElementSeletction li {
  margin: 8px 0 0 0;
  background-color: var(--table-button-back-color);
  color: var(--table-button-color);
}
#ElementSeletction td {
  position: relative;
}
#ElementSeletction div {
  width: 100%;
  height: 20vh;
  overflow: scroll;
}
#ElementSeletction div::-webkit-scrollbar {
  width: 1vw;
}
#ElementSeletction div::-webkit-scrollbar-thumb {
  background: var(--table-button-scroll-color);
}
#ElementSeletction div::-webkit-scrollbar-thumb:hover {
  background: rgb(36, 35, 35);
}
#ElementSeletction caption:hover + tbody div {
  display: block;
}
#ElementSeletction tfoot td {
  background-color: var(--table-backbutton-color);
}

/*ANCHOR Buttons */
/* Finish Button */
#overriteFinishButton {
  background-color: var(--finishButton);
  position: fixed;
  right: 1vw;
  bottom: 43vh;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  border: 0.3vw var(--border-color) solid;
}
/*OverwritePointer*/
#overwritePointer {
  background-color: var(--selectorbutton);
  position: fixed;
  right: 6vw;
  bottom: 43vh;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  border: 0.3vw var(--border-color) solid;
}

/* directional arrows */
#overwritePfeile {
  display: flex;
  position: fixed;
  right: 12vw;
  bottom: 14vh;
  margin: 0;
  padding: 0;
}
#overwritePfeile button {
  border: 0.3vw var(--border-color) solid;
  margin: 0;
  padding: 0.5vw;
  font-size: 1.4vw;
  border-radius: 40%;
  width: 3vw;
}

/*ANCHOR attributeBar */
#attributeBar {
  background-color: var(--attributebar-back-color);
  color: var(--attributebar-color);
  position: fixed;
  right: 7vw;
  bottom: 0;
  padding: 2vw;
  font-size: 1vw;
  border: 0.3vw var(--border-color) solid;
  width: 20vw;
}
#attributeBar .Focus {
  background-color: var(--akt-attributebar-back-color);
  border: 0.5vh var(--border-color) solid;
}
#attributeBox {
  display: flex;
  position: fixed;
  right: 15vh;
  bottom: 10vh;
  margin: 0vw;
  padding: 0vw;
}
#attributeBox button {
  width: 3vw;
  margin: 0vw;
  padding: 0vw;
  border: 0.5vh var(--border-color) solid;
  font-size: 1.4vw;
}
#attributeBox textarea {
  font-size: 1.5vw;
  border-radius: 3%;
  border: 0.5vh var(--text-border-color) solid;
  outline: 0.5vh var(--text-outline-color) solid;
  margin: 0vw;
  padding: 0vw;
}
#attributeBox textarea:focus {
  border: 0.8vh var(--border-color) solid;
  outline: none;
}
textarea {
  font-size: 40px;
}
/* input fields */
#objetNumber {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 14vh;
  margin: 0;
  padding: 0;
}
#objetNumber button {
  width: 3vw;
  margin: 0vw;
  padding: 0vw;
  border: 0.5vh var(--border-color) solid;
  font-size: 1.4vw;
}
#objetNumber textarea {
  font-size: 1.5vw;
  border-radius: 3%;
  border: 0.5vh var(--text-border-color) solid;
  outline: 0.5vh var(--text-outline-color) solid;
  margin: 0vw;
  padding: 0vw;
}
#objetNumber textarea:focus {
  border: 0.8vh var(--border-color) solid;
  outline: none;
}

/* selectDiv */
#selectDiv {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 20vh;
}
#selectDiv button {
  background-color: var(--h2-back-color);
  padding: 15px 30px;
  border: 5px var(--border-color) solid;
  border-radius: 10%;
  font-size: 2rem;
}

/*Buttons*/
button:has(img[src*="/icons/svg/check_black_24dp.svg"]) {
  background-color: var(--validate-button-back-color);
  border-radius: 10%;
}
button:has(img[src*="/icons/svg/cancel_black_24dp.svg"]) {
  background-color: var(--cancel-button-back-color);
  border-radius: 10%;
}
button:has(
    img:is(
        [src*="/icons/svg/north_black_24dp.svg"],
        [src*="/icons/svg/south_black_24dp.svg"],
        [src*="/icons/svg/west_black_24dp.svg"],
        [src*="/icons/svg/east_black_24dp.svg"]
      )
  ) {
  background-color: #404649;
  border-radius: 10%;
}

/* ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????? */
